
:root {
    --background: #FFFCF7;
    --sand: #FFF0D6;
    --dark_red: #90141E;
    --red: #D4212A;
    --dark_blue: #0B3F5B;
    --teal: #429E9D;
}

body {
    background: var(--background);
    margin: auto;
    font-family: noto-sans, sans-serif;
}

/* ======================================================================================= */
/* =====================================   Header   ====================================== */
/* ======================================================================================= */
header {
    background: var(--dark_red);
    border: 10px solid var(--dark_red);
    border-radius: 0 0 20px 20px;
    height: auto;
    color: var(--background);
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

header img {    /* put image in center */
    height: auto;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    margin: 50px;
    list-style: none;
    gap: 50px;
    display: flex;
	justify-content: space-around;
	align-items: center;
    font-size: 18px;
}

header a {
    color: var(--background);
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.buttons a {
    background: var(--red);
    height: 25px;
    width: 75px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
