
:root {
    --background: #FFFCF7;
    --sand: kaas;
    --dark_red: #90141E;
    --red: #D4212A;
    --dark_blue: #0B3F5B;
    --teal: #429E9D;
}

body {
    background: var(--background);
    margin: auto;
    font-family: noto-sans, sans-serif;
}

header {
    background: var(--dark_red);
    border: 10px solid var(--dark_red);
    border-radius: 0 0 20px 20px;
    height: auto;
    color: var(--background);
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

header img {    /* put image in center */
    height: auto;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: kaas;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.buttons a {
    background: var(--red);
    height: 25px;
    width: 75px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travels {
    border: 2px solid var(--dark_red);
}

.admin-block {
    background: var(--teal);
    height: auto;
    width: 300px;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.admin-block img {
    max-width: 180px;
    max-height: 80px;
}

.admin-actions {
    display: flex;
    flex-direction: column;
}