
:root {
    --background: #FFFCF7;
    --dark_red: #90141E;
    --red: #D4212A;
    --dark_blue: #0B3F5B;
    --teal: #429E9D; 
}

body {
    background: var(--background);
    margin: auto;
}

header {
    background: var(--dark_red);
    border-radius: 0 0 20px 20px;
    height: 120px;

}

header img {    /* put image in center */
    height: auto;
    width: 80px;
}
